/*全局样式*/
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width:1366px;
}
.login_box .el-form-item__label {
    /*设置form表单中的字体颜色*/
    color: white;
}

/*警告字样颜色*/
.login_box .el-form-item__error{
    color: #ffffff;
}
/*设置下拉框的间距为0*/
.el-menu-item-group__title {
    padding:0;
}
/*表格内容居中对齐*/
.cell {
    text-align: center;
}

/*标签垂直居中*/
.v_center {
    display:flex;
    align-items: center;
}

.zk-table__cell-inner {
    text-align: center;
}

.el-cascader-menu__list {
    height: 300px;
}

.el-checkbox {
    margin-left: 0 !important;
}

/*富文本编辑框的样式*/
.ql-container.ql-snow {
    height: 200px;
}

/*提交商品按钮样式*/
.submitGoods {
    margin:100px 0 100px 300px;
}
